// loader.module.scss
.containerLoader {
  position: absolute;
  min-height: 50vh;
  left: 350%;
  
  .ldsRoller {
    position: absolute;
    top: 45%;
    left: 45%;
    
    div {
      animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
      
      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #e2ac5a;
        margin: -4px 0 0 -4px;
        z-index: 2;
      }
      
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation-delay: -0.036s * $i;
        }
      }
      
      &:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      
      &:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      
      &:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      
      &:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      
      &:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      
      &:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      
      &:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      
      &:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
    }
  }
}

@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 500px) {
  .containerLoader {
    left: 40%;
  }
}