.detailed-stock {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.stocks-column {
    display: flex;
    flex-direction: column;
}

.stock-description {
    background-color: #000;
    padding: 0 1rem 2rem;

    @media (min-width: 768px) {
        padding: 0 3rem 2rem;
    }

    @media (min-width: 992px) {
        padding: 0 6rem 2rem;
    }
}

.horizontal-line {
    border: 1px solid #f8ebd7;
    margin: 2.5rem auto;
    opacity: 1;
    width: 90%;

    @media (max-width: 768px) {
        margin: 2rem auto;
        width: 95%;
    }
}

.cta {
    color: #ffffff;
    border: 2px solid #f8ebd7;
    background: linear-gradient(to bottom, #f8ebd7, #e2ac5a);
    height: 60px;
    width: 250px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;

    &:hover {
        background: #e2ac5a;
        color: #ffffff;
    }

    &.low {
        margin-bottom: 40px;
    }
}


@media (max-width: 768px) {
    .stock-description {
        padding: 0 1rem 1.5rem;
    }
    
    .horizontal-line {
        margin: 1.5rem auto;
    }
    
    .cta {
        height: 50px;
        width: 200px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .cta {
        width: 100%;
        max-width: 250px;
    }
}