.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: #020102;
  color: #bfbfbf;
  transform: translateX(100%);
  transition: transform 0.6s ease;
  z-index: 20;
  padding: 85px 5px 10px 40px;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  
  &.open {
    transform: translateX(0);
  }
  
  @media (max-width: 540px) {
    width: 280px;
    padding: 85px 20px 20px 30px;
    height: 100vh;
  }
  
  @media (max-width: 410px) {
    width: 260px;
    padding: 85px 15px 15px 25px;
  }
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.menuItem {
  margin-bottom: 25px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.asideLink {
  text-decoration: none;
  color: #bfbfbf;
  position: relative;
  padding: 0px 0px 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  
  &:hover {
    color: #ffffff;
    
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    visibility: hidden;
  }
  
  @media (max-width: 540px) {
    font-size: 15px;
  }
  
  @media (max-width: 410px) {
    font-size: 14px;
  }
}

.socialLinks {
  display: flex;
  gap: 25px;
  margin: 30px 0px 40px;
  
  @media (max-width: 540px) {
    gap: 20px;
    margin: 25px 0px 35px;
  }
}

.socialIcon {
  font-size: 24px;
  color: #bfbfbf;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  
  @media (max-width: 540px) {
    font-size: 22px;
  }
}

.navBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfbfbf;
  min-height: 50px;
  width: 220px;
  padding: 0 20px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    background-color: #343334;
    border-color: #ffffff;
    
    .messageLink {
      color: #ffffff;
    }
  }
  
  @media (max-width: 540px) {
    width: 200px;
    min-height: 45px;
    font-size: 14px;
  }
  
  @media (max-width: 410px) {
    width: 180px;
    min-height: 40px;
    font-size: 13px;
  }
}

.messageLink {
  color: #bfbfbf;
  text-decoration: none;
  transition: color 0.3s ease;
}