.benefits {
    background-color: #202020;
    padding: 50px 90px 90px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    @media (max-width: 1300px) {
        flex-wrap: wrap;
        gap: 25px;
    }
    
    @media (max-width: 1100px) {
        padding: 50px 40px 90px;
    }
    
    @media (max-width: 768px) {
        padding: 40px 20px 80px;
        flex-direction: column;
        align-items: center;
    }
}

.benefit {
    padding: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
    @media (max-width: 768px) {
        width: 100%;
        max-width: 350px;
        height: auto;
        min-height: 350px;
        margin-bottom: 30px;
    }
}

.benefitIcon {
    color: #f8ebd7;
    font-size: 110px;
    height: 110px;
    margin-bottom: 0;
    
    @media (max-width: 768px) {
        font-size: 90px;
        height: 90px;
    }
}

.benefitHeading {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    
    &.upper {
        margin-top: 20px;
    }
    
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.benefitExplanation {
    color: #949ea2;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    
    @media (max-width: 768px) {
        font-size: 16px;
    }
}